<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{base :: head}"></head>		
	<body>
		<div  th:replace="~{base :: logo}"></div>		
		<div class="container">
			<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light ps-1 pe-3 mb-3 d-flex justify-content-between">
				<div class="navbar-nav">
					<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" href="/home">Todos</a>
					<a th:classappend="${status} == 'aguardando' ? 'active'" class="nav-item nav-link" href="/home/aguardando">Aguardando</a>
					<a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-item nav-link" href="/home/aprovado">Aprovado</a>
					<a th:classappend="${status} == 'entregue' ? 'active'" class="nav-item nav-link" href="/home/entregue">Entregue</a>
				</div>
				<a href="/pedido/formulario"><button class="btn btn-outline-secondary" type="button">Novo</button></a>
			</nav>			
			<div class="card mb-3" th:each="pedido: ${pedidos}">
				<th:block th:switch="${pedido.status.name()}">
					<div th:case="'AGUARDANDO'" class="card-header alert-warning" th:text="${pedido.nomeProduto}">Nome do Produto</div>
					<div th:case="'APROVADO'" class="card-header alert-primary" th:text="${pedido.nomeProduto}">Nome do Produto</div>
					<div th:case="'ENTREGUE'" class="card-header alert-success" th:text="${pedido.nomeProduto}">Nome do Produto</div>		
				</th:block>		
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-sm-7 mb-3">	
							<div class="row">
								<div class="col-md-5">Valor: <span th:if="${pedido.valor} != null" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valor, 3, 'POINT', 2, 'COMMA')}">199,99</span> </div>
								<div class="col-md-7">Data da Entrega: <span th:text="${#temporals.format(pedido.dataEntrega, 'dd/MM/yyyy')}">10/02/2022</span> </div>
							</div>					
							
							<div class="">Produto: <input class="form-control" th:value="${pedido.url}" /> </div>
							<div class="">Descrição:
								<div class="">
									<textarea class="form-control" rows="" cols="auto" th:text="${pedido.descricao}">
										Descrição do produto.
									</textarea>
								</div>
							</div>		
						</div>				
						<div class="col-12 col-sm-4">		
							<div class="">
								<img class="img-thumbnail" alt="" th:src="${pedido.imagem}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>